<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>demo</title>
    <link rel="stylesheet" href="/build/demo/css/styles.css" />
</head>
<body>
    <div class="box">
        <div class="item">
            hahafsaf
        </div>
        <div class="item">
            hahafsaf
        </div>
        <div class="alipay"></div>
        <div class="logo"></div>
    </div>
    <div id="app"></div>
    <script type="text/javascript" src="/build/demo/js/script.js"></script>
</body>
</html>